.skills-section {
  background-color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 100px;
  transition: background-color 0.3s;
}

.skill-container {
  text-align: center;
  margin: 0px 150px;
}

.skills-tile {
  background-color: #f9f9f9;
  display: inline-block;
  text-align: center;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  height: 100px;
  margin: 15px;
}

.skills-tile:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.skill-icon {
  max-width: 45px;
  max-height: 45px;
  transition: transform 0.2s ease-in-out;
}

.skills-tile:hover .skill-icon {
  transform: scale(1.2);
}

.skill-name {
  font-size: 16px;
  margin-top: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.skills-tile {
  animation: fadeIn 0.5s ease-in-out;
}

/* dark mode */
.skills-section.dark-mode {
  background-color: grey;
}

.skills-section.dark-mode .skills-tile {
  color: lightgrey;
  background-color: #555;
  border: 1px solid #555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
