.home-section {
  background-color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 130px;
  transition: background-color 0.3s;
}

.home-section p {
  font-size: 1.2rem;
  margin-bottom: 0px;
}

.typewriter-container {
  font-size: 1.2rem;
  margin: 5px;
}

.home-section .btn {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* dark mode */
.home-section.dark-mode {
  background-color: grey;
}

.home-section.dark-mode .btn {
  color: white;
}
