.navbar-section {
  position: fixed !important;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: 1000;
  transition: background-color 0.3s;
}

.nav-link {
  padding: 5px 10px;
  border-radius: 15px;
}

.nav-link:hover {
  background-color: #f0f0f0;
}

.icon-spacing {
  margin-left: 8px; /* Adjust the value as needed for desired spacing */
}

/* dark mode */
.navbar-section.dark-mode {
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar-section.dark-mode .nav-link {
  color: lightgrey;
  transition: background-color 0.3s;
}

.navbar-section.dark-mode .nav-link:hover {
  background-color: #555;
}
